* {
	/* outline: 1px solid black; */
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(48, 112, 66);
}

h1 {
	color:aliceblue;
	font-size: 3rem;
}
h1:hover {
font-size: 4rem;
transition: ease 1s;
}
h2 {
	color:aliceblue;
	font-size: 2rem;
}

.container {
	max-width: 960px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem;
	background-color: rgb(86, 198, 52);
}

.container img {
	max-width: 70%;
}

.container p {
	color: aliceblue;
	max-width: 70%;
}

a {
	color: white;
	font-size: 2rem;
}
